In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import requests
from bs4 import BeautifulSoup as bs
from tqdm import tqdm 

from matplotlib import font_manager

font_family = font_manager.FontProperties(fname='C:/Windows/Fonts/malgunsl.ttf').get_name()
plt.rc('font', family=font_family)

In [2]:
def url_create(sDate, eDate ,row=10):
    
    key='5oaL5XF7nxzVRPO3HpIwVCoC4CQBQx9tcB5WqEJnT%2FFA9KUyD7HAktzqQFC6xRqGSstXpp%2BSNVA6MjfX6%2BJlEQ%3D%3D'
    url='http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19GenAgeCaseInfJson?serviceKey='+key
    url=url+'&pageNo=1&numOfRows='+str(row)
    url=url+'&startCreateDt='+sDate
    url=url+'&endCreateDt='+eDate
    
    covid_html=requests.get(url)
    
    if covid_html.status_code!=200:
        print('조회할수 없습니다.')
        exit()
    soup=bs(covid_html.content, 'html.parser')
   
    covid_soup=soup.find_all('item')
    cov_Lst=[]
    
    for i in covid_soup:
        Dte=i.find('createdt').text
        gubun=i.find('gubun').text
        conF=i.find('confcase').text
        Death=i.find('death').text

        cov_Lst.append({"등록일":Dte,"구분":gubun,"누적확진자":conF,"사망자":Death})
        
    df=cov_Lst
    
    return df  


sDt = input('시작일 입력(예: 20210101): ')
eDt = input('종료일 입력(예: 20210101): ')

df1 = url_create(sDt,eDt)
df2=pd.DataFrame(df1)

시작일 입력(예: 20210101): 2021010
종료일 입력(예: 20210101): 20210108

In [69]:
Day=[]

for i in df2['등록일']:
    a=i[:10]
    Day.append(a)
    
df2['등록일']=Day
df2=df2.astype({'누적확진자':'int64', '사망자':'int64'})
df2

df3=df2[df2['구분']=="여성"][['등록일','누적확진자']]
df3=df3.rename(columns={'누적확진자':'여성'})

bunryu=list(df2['구분'].unique())
df4=pd.DataFrame()
df4['등록일']=df2['등록일']

for a in bunryu:
    df3=df2[df2['구분']==a][['등록일','누적확진자']]
    df3=df3.rename(columns={'누적확진자':a})
    df4=pd.merge(df4,df3,on='등록일')
    
df4=df4.drop_duplicates()
df4=df4.sort_values('등록일')
df4=df4.reset_index(drop=True)
df4

,등록일,0-9,10-19,20-29,30-39,40-49,50-59,60-69,70-79,80 이상,여성,남성
0,2021-01-01,2132,3844,9836,7873,8778,11602,9791,4849,3064,31600,30169
1,2021-01-02,2171,3910,9947,7982,8884,11762,9916,4908,3113,32002,30591
2,2021-01-03,2203,3956,10027,8057,8972,11886,10033,4959,3151,32357,30887
3,2021-01-04,2243,4027,10147,8184,9144,12073,10186,5028,3232,32841,31423
4,2021-01-05,2288,4071,10254,8289,9256,12197,10294,5072,3258,33200,31779
5,2021-01-06,2333,4131,10360,8395,9366,12337,10442,5145,3309,33633,32185
6,2021-01-07,2374,4185,10483,8515,9521,12513,10555,5204,3336,34043,32643
7,2021-01-08,2408,4228,10574,8601,9604,12637,10680,5253,3373,34396,32962

In [92]:
Tday=pd.DataFrame()
Tday['등록일']=df4['등록일']
b=0
df4_bun=[]

for x in bunryu:
    a="df4"+"["+x+"]"
    df4_bun.append(a)
    
for i in range(len(df4['등록일'])):
    df4_bun[i][i]

'df4[0-9]'

In [94]:
print(df4['등록일'][0])
print(df4['0-9'][1]-df4['0-9'][0])
print(df4['10-19'][1]-df4['10-19'][0])

2021-01-01
39
66

In [ ]:
Tday=[]
b=0
for a in range(len(df3['누적확진자'])):
    if len(Tday)==0:
        Tday.append(df3['누적확진자'][a])
    try:
        b=0
        b=a+1
        Tday.append(df3['누적확진자'][b]-df3['누적확진자'][a])
    except:
        break
        
        
df3['당일확진자']=Tday